---
import Meta from '../../components/Meta.astro';
import Background from '../../components/Background.astro';
import Header from '../../components/Header.astro';
import Footer from '../../components/Footer.astro';
import { getCollection } from 'astro:content';
import '../../styles/global.css';

export async function getStaticPaths() {
	const posts = await getCollection('blog');

	return posts.map((post) => ({
		params: { post: post.slug },
		props: { post },
	}));
}

const { post } = Astro.props;
const { Content } = await post.render();
---

<html lang="en">
	<head>
		<Meta title={`Blog - ${post.data.title}`} />
	</head>

	<body class="relative bg-gray-900 text-gray-200">
		<Background />
		<Header />

		<section class="p-16 lg:p-24 min-h-[75vh]">
			<div class="grid grid-cols-1 lg:grid-cols-12 gap-8 lg:gap-16 items-start">
				<!-- Left Column (Title Block) -->
				<div class="lg:col-span-4">
					<div
						class="text-xs sm:text-sm font-mono text-gray-400 uppercase tracking-wider"
					>
						<span class="mx-1 opacity-60">/</span>
						<a
							href="/blog"
							class="hover:text-white transition-colors duration-200"
						>
							blog
						</a>

						<span class="mx-1 opacity-60">/</span>

						<a
							href={`/blog/${new Date(post.data.date).getFullYear()}`}
							class="hover:text-white transition-colors duration-200"
						>
							{new Date(post.data.date).getFullYear()}
						</a>

						<span class="mx-1 opacity-60">/</span>

						<span class="">
							{post.slug.split('/').pop()}
						</span>
					</div>
					<h2
						class="text-3xl sm:text-4xl md:text-5xl xl:text-7xl font-bold text-gray-100 leading-tight"
					>
						{post.data.title}
					</h2>

					<p class="mt-6 text-sm font-mono text-gray-300">
						{
							new Date(post.data.date).toLocaleDateString('en-US', {
								year: 'numeric',
								month: 'long',
								day: 'numeric',
							})
						}
					</p>
				</div>

				<!-- Article Column -->
				<div class="lg:col-span-8">
					<div
						class="relative p-6 sm:p-8 md:p-10 bg-gray-800/20 rounded-xl sm:rounded-2xl backdrop-blur-sm transition-all duration-300"
					>
						<article
							class="prose prose-invert max-w-none
								   prose-headings:text-gray-100
								   prose-p:text-gray-300
								   prose-strong:text-white
								   prose-a:text-blue-400
								   prose-a:no-underline hover:prose-a:underline
								   prose-code:text-pink-400
								   prose-pre:bg-gray-900/70
								   prose-pre:rounded-xl"
						>
							<Content />
						</article>
					</div>
				</div>
			</div>
		</section>

		<Footer />
	</body>
</html>
