---
import Background from '../components/Background.astro';
import { siteConfig } from '../config';
import '../styles/global.css';
import Meta from '../components/Meta.astro';
---

<html lang="en">
	<head>
		<Meta title="404" />
	</head>
	<body class="relative bg-gray-900 text-gray-200">
		<Background />
		<div id="hero" class="relative isolate overflow-hidden py-24 md:h-screen">
			<div class="h-full flex flex-col items-center justify-center">
				<h1
					class="text-pretty text-4xl sm:text-5xl md:text-6xl lg:text-8xl tracking-tight text-gray-200 animate-fade-in animation-delay-200 font-semibold"
				>
					404
				</h1>
				<p
					class="text-pretty text-base sm:text-lg md:text-xl/8 font-normal text-gray-400 animate-fade-in animation-delay-400"
				>
					Page Not Found
				</p>
				<a
					href="/"
					class="mt-6 px-4 py-2 rounded-lg bg-white/30 hover:bg-white/20 text-gray-100 transition backdrop-blur-sm animate-fade-in animation-delay-600"
					>Return Home</a
				>
			</div>
		</div>
	</body>
</html>
