---
import { siteConfig } from "../config";
---

<div
  class="fixed -inset-1/2 w-[200%] h-[200%] bg-cover bg-center bg-no-repeat bg-fixed transition-opacity duration-[4000ms]"
  style="background-image: url('https://images.unsplash.com/photo-1548438444-275b68ae5120?ixlib=rb-1.2.1&auto=format&h=1080');"
>
  <div
    class="pointer-events-none fixed -inset-1/2 w-[200%] h-[200%] backdrop-blur-[3px] bg-gradient-to-b from-black/40 to-black"
    style="background: linear-gradient(5deg, rgba(0,0,0,0.4), rgba(0,0,0,1));"
  ></div>
</div>