---
import { getCollection } from 'astro:content';

const credentials = await getCollection('credentials');
credentials.sort((a, b) => {
	return new Date(b.data.date).getTime() - new Date(a.data.date).getTime();
});
---

<section id="credentials" class="p-8 sm:p-12 md:p-16 lg:p-24">
	<div>
		<div class="grid grid-cols-1 lg:grid-cols-12 gap-8 lg:gap-16 items-start">
			<div class="lg:col-span-4">
				<h2
					class="text-3xl sm:text-4xl md:text-5xl xl:text-7xl font-bold text-gray-100"
				>
					Credentials
				</h2>
			</div>

			<div class="lg:col-span-8">
				<div class="grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 gap-4">
					{
						credentials.map((item) => (
							<div
								class="group bg-gray-800/20 p-6 text-center rounded-2xl 
                  aspect-square flex flex-col justify-center items-center 
                  transition-all duration-300 backdrop-blur-sm"
							>
								<div class="flex justify-center mb-4">
									<img
										src={`/badges/${item.data.badge}`}
										alt="Icon"
										class="h-16 object-contain"
										loading="lazy"
									/>
								</div>

								<h3 class="text-sm font-semibold text-gray-100">
									{item.data.title}
								</h3>

								<p class="text-xs text-gray-300 mt-1">{item.data.issuer}</p>

								<p class="text-xs text-gray-400 mt-1 font-mono">
									{new Date(item.data.date).toLocaleDateString('en-US', {
										year: 'numeric',
										month: 'short',
									})}
									{item.data.expires
										? ` - ${new Date(item.data.expires).toLocaleDateString(
												'en-US',
												{
													year: 'numeric',
													month: 'short',
												},
											)}`
										: ''}
								</p>
							</div>
						))
					}
				</div>
			</div>
		</div>
	</div>
</section>
